.columnLabel, .productLists li {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    color: #836953;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding-top: 14px;
}

.columnLabel {
    background-color: #F8C8DC;
}


.productLists li {
    background-color: #FFFFFF;
    border: 1px solid #F8C8DC;
}

.productLists li input {
    margin: auto;
}

.columnLabel input {
    margin: auto;
}

ul.productLists {
    padding: 0;
}

li div img {
    width: 100%;
    height: 8vh;
}

.cart h1 {
    margin: 15px;
    padding: 8px;

}
.productinfo {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    text-align: left;
    gap: 2rem;
}
#quantityButton {
    background-color: #F8C8DC;
    color: #836953;
    width: 25px;
    height: 25px;
 }
 #quantityNumber {
    height: 21px;
    width: 25%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
 }
 .labelButton {
    background-color: #F8C8DC;
    color: #836953;
 }

 .totalItems {
    color: #836953;
    display: flex;
    justify-content: right;
    gap: 5%;
    margin-right: 20px;
    padding-right: 14px;
    padding-bottom: 14px;
 }

 .allSelectedButtons {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    color: #836953;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding-top: 14px;
 }

 .allSelectedButtons input {
    margin: auto;
 }

 .labelButton {
    border: 1px solid #836953;
    padding: 6px;
    font-size: 18px;
    text-align: center;
    width: 11%;
}
.wishlistButton {
    border: 1px solid #836953;
    width: 17%;
    height: 35px;
    border-radius: 3px;
    font-size: 17px;
}

.checkoutButton {
    border: 2px solid #836953;
    padding: 6px;
    font-size: 38px;
    text-align: center;
    width: 8%;
    border-radius: 4px;
}

.totalItems h4 {
    font-size: 24px;
}

.labelButton2 {
    color: #836953;
    padding: 10px;
    text-align: left;
    font-size: 24px;
    display: flex;
}